.form {
  position: relative;
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.submitIco {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.inputWrapper {
  width: 100%;
  position: relative;
}
