.header {
  background-color: #8888889c;
  box-shadow: rgba(0, 0, 0, 0.9) 1.95px 1.95px 2.6px;
  padding: 20px 30px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  text-wrap: nowrap;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  min-width: 30%;
  flex-shrink: 0;
}

.rightSide {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
